In [3]:
from datetime import datetime
import pandas as pd
import numpy as np

Initially we will work on cohort, by assigning each customer to cohort

In [22]:
orders = pd.read_csv('orders.csv')[['customer_id','created_at']]

In [23]:
orders['created_at'] = pd.to_datetime(orders['created_at'])

In [24]:
orders.head()

   customer_id          created_at
0            1 2013-04-07 12:00:00
1            2 2013-04-04 12:00:00
2            4 2013-04-06 12:00:00
3            3 2013-04-08 12:00:00
4           10 2013-04-04 12:00:00

In [25]:
orders['created_at_month_year']= orders['created_at'].map(lambda x: x.strftime('%Y-%m'))

DF is 1) sorted by MM/YY, 2) then grouped by CustomerID, then 3) only DD/MM is left and 4) only first values of grouped IDs left.

In [36]:
cohort = orders.sort_values(by='created_at_month_year').groupby('customer_id')['created_at_month_year'].first()

Important to do the below immediately after above, as df, when printed, get lost. Below is converting Pandas series which resulted from above to DF. 
Now we have customer ID and cohort he belongs to.

In [42]:
cohort = cohort.to_frame(name='cohort')

In [43]:
type(cohort)

pandas.core.frame.DataFrame

Now need to recreate a table with all orders (3.577 MM) but with cohorts. 
Will merge cohorts with our orders table, left join

In [44]:
df_cohort = pd.merge(orders[['customer_id','created_at_month_year']],cohort, right_index=True, left_on='customer_id')

Need to check if the lenght of left table equals the length of right table

In [46]:
assert len(orders) == len(df_cohort)

Now we have a table with customer_id, their cohort, their_purchase times. We need to summarize it, by how many of cohorts were buying during each month.

In [47]:
df_cohort.head()

         customer_id created_at_month_year   cohort
0                  1               2013-04  2013-04
287846             1               2013-10  2013-04
1646408            1               2015-03  2013-04
1871621            1               2015-04  2013-04
1                  2               2013-04  2013-04

Counting number of customers in each cohort
Need to use Nunique instead of count as it counts each ID only once. Otherwise, it would count it several times.

In [56]:
df_cohort.groupby('cohort')['customer_id'].nunique().head()

cohort
2013-04    28874
2013-05    30851
2013-06    29953
2013-07    31013
2013-08    30851
Name: customer_id, dtype: int64

In [52]:
df_cohort.groupby('cohort').agg({'customer_id': pd.Series.nunique}).head()

         customer_id
cohort
2013-04        28874
2013-05        30851
2013-06        29953
2013-07        31013
2013-08        30851

In [61]:
x =df_cohort.groupby('created_at_month_year')['cohort'].count()

In [116]:
cohort_pivot = pd.pivot_table(df_cohort, values = 'customer_id', 
               index = 'created_at_month_year', columns = 'cohort', aggfunc = 'count', fill_value = 0)

In [120]:
cohort_pivot

cohort,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,...,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04
created_at_month_year,,,,,,,,,,,,,,,,,,,,,
2013-04,28874,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-05,3406,30978,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-06,3475,3601,30057,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-07,3488,3873,3628,31113,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-08,3604,3820,3730,3743,30960,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-09,3545,3762,3608,3771,3562,29988,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-10,3580,3876,3652,3901,3786,3539,31108,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-11,3502,3720,3568,3799,3755,3532,3546,30065,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-12,3586,3889,3705,3757,3866,3663,3774,3540,31197,0,...,0,0,0,0,0,0,0,0,0,0
2014-01,3729,3811,3753,3895,3774,3619,3885,3802,3694,31323,...,0,0,0,0,0,0,0,0,0,0
2014-02,3176,3407,3451,3470,3513,3329,3446,3438,3386,3356,...,0,0,0,0,0,0,0,0,0,0
2014-03,3609,3988,3893,3939,4033,3769,3904,3847,4041,3957,...,0,0,0,0,0,0,0,0,0,0
2014-04,3489,3706,3571,3687,3677,3463,3707,3496,3784,3725,...,0,0,0,0,0,0,0,0,0,0
2014-05,3536,3884,3821,3932,3897,3688,3754,3793,3783,3802,...,0,0,0,0,0,0,0,0,0,0
2014-06,3397,3764,3626,3733,3769,3571,3798,3566,3738,3741,...,0,0,0,0,0,0,0,0,0,0
2014-07,3632,3911,3640,3714,3784,3800,3810,3711,3863,3977,...,0,0,0,0,0,0,0,0,0,0
2014-08,3665,3797,3699,3815,3908,3711,3790,3736,3785,3811,...,0,0,0,0,0,0,0,0,0,0
2014-09,3508,3732,3586,3704,3719,3590,3653,3563,3742,3777,...,0,0,0,0,0,0,0,0,0,0
2014-10,3561,3842,3786,3806,3785,3789,3883,3711,3926,3882,...,0,0,0,0,0,0,0,0,0,0
2014-11,3437,3665,3534,3725,3728,3627,3740,3410,3720,3804,...,0,0,0,0,0,0,0,0,0,0
2014-12,3611,3903,3732,3901,3855,3794,3771,3766,3756,3861,...,0,0,0,0,0,0,0,0,0,0
2015-01,3567,3813,3682,3865,3872,3736,3861,3739,3985,3929,...,0,0,0,0,0,0,0,0,0,0
2015-02,3237,3404,3290,3418,3506,3375,3527,3329,3495,3574,...,0,0,0,0,0,0,0,0,0,0
2015-03,3634,3942,3800,4059,4026,3843,3965,3749,3999,4014,...,0,0,0,0,0,0,0,0,0,0
2015-04,3533,3793,3624,3598,3734,3632,3707,3597,3711,3700,...,0,0,0,0,0,0,0,0,0,0
2015-05,3530,3899,3684,3850,3801,3628,3790,3814,3834,3908,...,0,0,0,0,0,0,0,0,0,0
2015-06,3510,3755,3662,3720,3655,3540,3774,3525,3779,3733,...,0,0,0,0,0,0,0,0,0,0
2015-07,3609,3726,3677,3823,3883,3775,3885,3664,3795,3832,...,31136,0,0,0,0,0,0,0,0,0
2015-08,3587,3819,3794,3852,3732,3706,3798,3757,3845,3814,...,3873,31169,0,0,0,0,0,0,0,0
2015-09,3421,3560,3597,3726,3757,3718,3733,3590,3672,3737,...,3688,3528,30164,0,0,0,0,0,0,0
2015-10,3563,3877,3637,3791,3773,3696,3805,3840,3878,3825,...,3945,3871,3616,31293,0,0,0,0,0,0
2015-11,3412,3682,3686,3706,3665,3591,3705,3510,3738,3757,...,3715,3834,3646,3513,30082,0,0,0,0,0
2015-12,3519,3911,3624,3833,3769,3738,3886,3689,3928,4037,...,3822,3911,3642,3894,3585,31094,0,0,0,0
2016-01,3541,3831,3674,3832,3894,3661,3763,3673,3919,3880,...,3907,3937,3698,3812,3693,3815,31108,0,0,0
2016-02,3261,3603,3495,3629,3547,3473,3544,3510,3636,3611,...,3596,3664,3520,3577,3558,3592,3443,28976,0,0
2016-03,3584,3925,3702,3825,3848,3697,3921,3687,3810,3878,...,3790,3855,3783,3842,3696,3881,3766,3514,31079,0
2016-04,3019,3314,3299,3250,3314,3251,3407,3338,3337,3462,...,3378,3410,3254,3384,3269,3416,3434,3151,3106,27171

Creating a sample file to work in Excel

In [68]:
sample = df_cohort.query('customer_id < 1000')

In [70]:
sample.to_csv('sample_cohort.csv')

#### Calculation percent values for each cell

In [114]:
def percent(z):
    n = list(z).index(filter(lambda z: z!=0, z)[0]) # to select first non-zero element
    y = []
    for i in z:
        y.append(float(i)/z[n])
    return pd.Series(y)

Dataframe created but the index values were lost

In [121]:
cohort_pivot_perecent = cohort_pivot.apply(percent)

Recreating index values for new percent based table

In [123]:
names = list(cohort_pivot.columns)

In [127]:
new_index = {}
for x,i in enumerate(names,0):
    new_index[x]=i

In [128]:
cohort_pivot_perecent = cohort_pivot_perecent.rename(index = new_index)

In [129]:
cohort_pivot_perecent

cohort,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,...,2015-07,2015-08,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04
2013-04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-04,0.117961,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-05,0.120350,0.116244,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-06,0.120801,0.125024,0.120704,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-07,0.124818,0.123313,0.124098,0.120303,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-08,0.122775,0.121441,0.120039,0.121203,0.115052,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-09,0.123987,0.125121,0.121502,0.125382,0.122287,0.118014,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-10,0.121286,0.120085,0.118708,0.122103,0.121286,0.117780,0.113990,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-11,0.124195,0.125541,0.123266,0.120753,0.124871,0.122149,0.121319,0.117745,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2013-12,0.129147,0.123023,0.124863,0.125189,0.121899,0.120682,0.124887,0.126459,0.118409,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-01,0.109995,0.109981,0.114815,0.111529,0.113469,0.111011,0.110775,0.114352,0.108536,0.107142,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-02,0.124991,0.128737,0.129521,0.126603,0.130265,0.125684,0.125498,0.127956,0.129532,0.126329,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-03,0.120835,0.119633,0.118808,0.118504,0.118766,0.115480,0.119165,0.116281,0.121294,0.118922,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-04,0.122463,0.125379,0.127125,0.126378,0.125872,0.122983,0.120676,0.126160,0.121262,0.121380,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-05,0.117649,0.121506,0.120637,0.119982,0.121738,0.119081,0.122091,0.118610,0.119819,0.119433,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-06,0.125788,0.126251,0.121103,0.119371,0.122222,0.126717,0.122477,0.123433,0.123826,0.126967,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-07,0.126931,0.122571,0.123066,0.122618,0.126227,0.123749,0.121834,0.124264,0.121326,0.121668,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-08,0.121493,0.120473,0.119307,0.119050,0.120123,0.119715,0.117430,0.118510,0.119947,0.120582,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-09,0.123329,0.124024,0.125961,0.122328,0.122255,0.126351,0.124823,0.123433,0.125845,0.123934,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-10,0.119034,0.118310,0.117577,0.119725,0.120413,0.120948,0.120226,0.113421,0.119242,0.121444,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-11,0.125061,0.125993,0.124164,0.125382,0.124516,0.126517,0.121223,0.125262,0.120396,0.123264,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2014-12,0.123537,0.123087,0.122501,0.124225,0.125065,0.124583,0.124116,0.124364,0.127737,0.125435,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-01,0.112108,0.109884,0.109459,0.109858,0.113243,0.112545,0.113379,0.110727,0.112030,0.114101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-02,0.125857,0.127252,0.126426,0.130460,0.130039,0.128151,0.127459,0.124696,0.128185,0.128149,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-03,0.122359,0.122442,0.120571,0.115643,0.120607,0.121115,0.119165,0.119641,0.118954,0.118124,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-04,0.122255,0.125864,0.122567,0.123742,0.122771,0.120982,0.121834,0.126858,0.122896,0.124765,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-05,0.121563,0.121215,0.121835,0.119564,0.118056,0.118047,0.121319,0.117246,0.121133,0.119178,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-06,0.124991,0.120279,0.122334,0.122875,0.125420,0.125884,0.124887,0.121869,0.121646,0.122338,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-07,0.124229,0.123281,0.126227,0.123807,0.120543,0.123583,0.122091,0.124963,0.123249,0.121764,...,0.124390,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-08,0.118480,0.114920,0.119673,0.119757,0.121350,0.123983,0.120001,0.119408,0.117704,0.119305,...,0.118448,0.113189,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-09,0.123398,0.125153,0.121003,0.121846,0.121867,0.123249,0.122316,0.127723,0.124307,0.122115,...,0.126702,0.124194,0.119878,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-10,0.118169,0.118859,0.122634,0.119114,0.118379,0.119748,0.119101,0.116747,0.119819,0.119944,...,0.119315,0.123007,0.120873,0.112262,1.000000,0.000000,0.000000,0.000000,0.000000,0.0
2015-11,0.121874,0.126251,0.120571,0.123196,0.121738,0.124650,0.124920,0.122701,0.125910,0.128883,...,0.122752,0.125477,0.120740,0.124437,0.119174,1.000000,0.000000,0.000000,0.000000,0.0
2015-12,0.122636,0.123668,0.122234,0.123164,0.125775,0.122082,0.120966,0.122169,0.125621,0.123871,...,0.125482,0.126311,0.122596,0.121816,0.122764,0.122692,1.000000,0.000000,0.000000,0.0
2016-01,0.112939,0.116308,0.116279,0.116639,0.114567,0.115813,0.113926,0.116747,0.116550,0.115283,...,0.115493,0.117553,0.116695,0.114307,0.118277,0.115521,0.110679,1.000000,0.000000,0.0
2016-02,0.124126,0.126703,0.123166,0.122939,0.124289,0.123283,0.126045,0.122634,0.122127,0.123807,...,0.121724,0.123681,0.125414,0.122775,0.122864,0.124815,0.121062,0.121273,1.000000,0.0
2016-03,0.104558,0.106979,0.109758,0.104458,0.107041,0.108410,0.109522,0.111026,0.106965,0.110526,...,0.108492,0.109404,0.107877,0.108139,0.108670,0.109860,0.110390,0.108745,0.099939,1.0

In [130]:
cohort_pivot_perecent.to_csv('Cohort_matrix.csv')