In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
items = pd.read_csv('order_items.csv')[['id','order_id','product_id','quantity','created_at']]

In [3]:
items['created_at']=pd.to_datetime(items['created_at'])

Transforming datestamp to MM/YY to be suitable for cohorts

In [4]:
items['created_at_month_year']= items['created_at'].map(lambda x: x.strftime('%Y-%m'))

In [5]:
orders = pd.read_csv('orders.csv')[['id','customer_id','created_at']]

In [6]:
orders['created_at'] = pd.to_datetime(orders['created_at'])

In [7]:
orders['created_at_month_year']= orders['created_at'].map(lambda x: x.strftime('%Y-%m'))

In [8]:
cohort = orders.sort_values(by='created_at_month_year').groupby('customer_id')['created_at_month_year'].first()

In [9]:
cohort = cohort.to_frame(name='cohort') #need to transform the above pandas series to df

In [10]:
cohort.head()

              cohort
customer_id
1            2013-04
2            2013-04
3            2013-04
4            2013-04
5            2013-04

#### We cannot join Orders and Order Items, as timestamps differ by two years. Also no foreign keys available, id, order_id differ 
see below

In [11]:
items.head()

,id,order_id,product_id,quantity,created_at,created_at_month_year
0,1,1,1,1,2015-04-02 12:00:00,2015-04
1,2,2,6,1,2015-04-08 12:00:00,2015-04
2,3,3,2,1,2015-04-05 12:00:00,2015-04
3,4,4,1,1,2015-04-06 12:00:00,2015-04
4,5,5,1,1,2015-04-02 12:00:00,2015-04

In [12]:
orders.head()

   id  customer_id          created_at created_at_month_year
0   1            1 2013-04-07 12:00:00               2013-04
1   2            2 2013-04-04 12:00:00               2013-04
2   3            4 2013-04-06 12:00:00               2013-04
3   4            3 2013-04-08 12:00:00               2013-04
4   5           10 2013-04-04 12:00:00               2013-04

In [13]:
products = pd.read_csv('products.csv')[['id','price','created_at']]

In [14]:
products['created_at']=pd.to_datetime(products['created_at'])

In [15]:
products['created_at_month_year']= products['created_at'].map(lambda x: x.strftime('%Y-%m'))

In [16]:
items.describe()

                 id      order_id     product_id  quantity
count  665870.00000  665870.00000  665870.000000  665870.0
mean   332935.50000  332935.50000       5.496139       1.0
std    192220.25621  192220.25621       2.872268       0.0
min         1.00000       1.00000       1.000000       1.0
25%    166468.25000  166468.25000       3.000000       1.0
50%    332935.50000  332935.50000       5.000000       1.0
75%    499402.75000  499402.75000       8.000000       1.0
max    665870.00000  665870.00000      10.000000       1.0

In [17]:
products.head(1)

   id  price          created_at created_at_month_year
0   1   8999 2016-04-24 19:04:05               2016-04

In [18]:
type(products['price'])

pandas.core.series.Series

In [43]:
df_items = pd.merge(items[['product_id','order_id', 'quantity']],products[['id','price']],
                    how = 'left', left_on='product_id',right_on='id')

In [44]:
df_items.head(2)

   product_id  order_id  quantity  id  price
0           1         1         1   1   8999
1           6         2         1   6   7999

In [29]:
assert len(items) == len(df_items)

In [45]:
df_items['revenue']=df_items['quantity'] * df_items['price']

In [23]:
#cohort_short = cohort[cohort['cohort']>='2015-04']

In [24]:
#cohort_short.head(1)

              cohort
customer_id
724060       2015-04

In [46]:
df_orders = pd.merge(df_items[['order_id','revenue']],orders[['customer_id','id']],
                     how = 'left', left_on='order_id',right_on='id')

In [47]:
df_orders.head()

   order_id  revenue  customer_id  id
0         1     8999            1   1
1         2     7999            2   2
2         3     4999            4   3
3         4     8999            3   4
4         5     8999           10   5

In [48]:
df_cohorts = pd.merge(df_orders[['customer_id', 'revenue']],
                      cohort.reset_index()[['customer_id','cohort']],
                      how = 'left', on='customer_id')

In [50]:
df_cohorts = pd.merge(df_cohorts[['customer_id', 'revenue','cohort']],
                      orders[['customer_id','created_at_month_year']],
                      how = 'left', on='customer_id')

In [51]:
df_cohorts.head()

   customer_id  revenue   cohort created_at_month_year
0            1     8999  2013-04               2013-04
1            1     8999  2013-04               2013-10
2            1     8999  2013-04               2015-03
3            1     8999  2013-04               2015-04
4            2     7999  2013-04               2013-04

We made two assumptions: Id in Orders corresponds to order_id in order_items
and 
Cohort periods are based on orders.

In [52]:
cohort_pivot1 = pd.pivot_table(df_cohorts, values = 'revenue', 
               index = 'created_at_month_year', columns = 'cohort', aggfunc = 'sum')

In [53]:
cohort_pivot1

cohort,2013-04,2013-05,2013-06,2013-07,2013-08,2013-09,2013-10,2013-11,2013-12,2014-01,2014-02,2014-03,2014-04
created_at_month_year,,,,,,,,,,,,,
2013-04,528091201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-05,87876474.0,539915881.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-06,88224179.0,89532341.0,496914537.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-07,90849810.0,95763461.0,87816593.0,483795773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-08,94287409.0,95049098.0,90334131.0,86618977.0,453766439.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09,92121400.0,93762416.0,85817966.0,86102889.0,79203548.0,409048150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-10,93022845.0,96106599.0,88156095.0,90321119.0,83221979.0,74283380.0,396939286.0,NaN,NaN,NaN,NaN,NaN,NaN
2013-11,90668871.0,91902178.0,86221062.0,87933195.0,83317335.0,73703816.0,71575602.0,357513692.0,NaN,NaN,NaN,NaN,NaN
2013-12,92331510.0,97257771.0,89710135.0,87217236.0,85169846.0,77797731.0,76270662.0,68816850.0,341575182.0,NaN,NaN,NaN,NaN
2014-01,97491682.0,94084174.0,90703289.0,89154562.0,83633500.0,75521933.0,77678921.0,74536498.0,67889657.0,312836900.0,NaN,NaN,NaN
2014-02,81931501.0,84694300.0,83009716.0,80094121.0,77880670.0,70205576.0,69462208.0,66883495.0,62099142.0,58398369.0,253552069.0,NaN,NaN
2014-03,93523130.0,98593383.0,93600193.0,91021495.0,90157824.0,80087059.0,78894099.0,74324029.0,75154636.0,69430188.0,55509639.0,269075573.0,NaN
2014-04,83962580.0,85904452.0,78982079.0,77009321.0,74137055.0,66338410.0,67344369.0,61874014.0,62578596.0,57566875.0,48836704.0,53612880.0,188724890.0
2014-05,65024610.0,66496689.0,62397305.0,60669003.0,56145682.0,50115145.0,47866622.0,45216627.0,40208372.0,37581730.0,30662492.0,32026639.0,21826067.0
2014-06,61081880.0,65604799.0,60128244.0,58184369.0,55181948.0,48802420.0,47932576.0,42308368.0,40859204.0,37538592.0,29965450.0,31985955.0,22270818.0
2014-07,66587373.0,68306017.0,60497428.0,57525222.0,55052714.0,52239279.0,49045126.0,43356814.0,42612346.0,39790920.0,29623542.0,32572926.0,23952990.0
2014-08,68341303.0,64177596.0,60984701.0,59314418.0,58622186.0,50340991.0,48118696.0,44287601.0,40977218.0,37850824.0,30429156.0,33415767.0,23033432.0
2014-09,64651839.0,65244711.0,59821566.0,57260961.0,54274278.0,48721720.0,47077139.0,42595689.0,40305225.0,37799772.0,31118605.0,31541103.0,22228652.0
2014-10,64823355.0,67367862.0,63020523.0,58348189.0,54296291.0,52038200.0,49423607.0,44624005.0,42863950.0,39056926.0,31012940.0,33240200.0,22647967.0
2014-11,62219211.0,63760035.0,57842734.0,57868430.0,54458837.0,49452542.0,47381713.0,40726896.0,40798175.0,37121719.0,30203637.0,31703578.0,22591560.0
2014-12,66547717.0,67268241.0,61401927.0,61416213.0,55609692.0,51312242.0,47714028.0,45419431.0,41322044.0,38089896.0,31696582.0,33100119.0,23205939.0
2015-01,64988224.0,66089434.0,60078965.0,60174464.0,55979521.0,50737169.0,48462053.0,44477967.0,43990769.0,39080902.0,31406599.0,32629969.0,23145033.0
2015-02,59495057.0,60138467.0,53909690.0,53856284.0,52254611.0,45288468.0,44493828.0,39373731.0,37849038.0,35942253.0,28271957.0,30089589.0,20775732.0
2015-03,65829914.0,68275018.0,62671975.0,63140038.0,58658509.0,52348642.0,50146617.0,43577046.0,43252838.0,39764591.0,31708815.0,34398918.0,23498325.0
2015-04,64571219.0,65514583.0,59877843.0,55475976.0,54761335.0,50416627.0,47629874.0,43097474.0,40432867.0,37143358.0,29808877.0,32948563.0,22191672.0
2015-05,65598754.0,67331258.0,60003650.0,59750511.0,55850271.0,50047923.0,48508335.0,45464975.0,42304836.0,38953128.0,30993008.0,33045510.0,23082605.0
2015-06,64955082.0,65896316.0,60162512.0,57882825.0,53270020.0,46839781.0,47599624.0,42014110.0,41785138.0,37096920.0,30553341.0,31724794.0,22898652.0
2015-07,66290126.0,63772548.0,59902894.0,59100719.0,56233163.0,51748721.0,49490959.0,44082472.0,40649529.0,38045320.0,30725401.0,33327528.0,23412520.0
2015-08,65169573.0,67043573.0,62843536.0,60069649.0,54298670.0,49585076.0,49085913.0,43654710.0,42067195.0,37849626.0,30813945.0,33825843.0,23370706.0
2015-09,62551515.0,61769101.0,58484383.0,58013275.0,55019554.0,50172711.0,47479529.0,42061428.0,39615283.0,37748706.0,30098977.0,31763246.0,22417118.0
2015-10,65559114.0,69202268.0,59510483.0,59081567.0,55316309.0,50575112.0,48260367.0,44925911.0,42187940.0,38238820.0,31927267.0,32591581.0,22934412.0
2015-11,62518685.0,63543794.0,60603389.0,58122008.0,52401103.0,48797422.0,47458395.0,41599359.0,40526718.0,37336908.0,30271707.0,31675209.0,21958263.0
2015-12,64395136.0,69952926.0,58965369.0,59986404.0,55149474.0,49878996.0,49454052.0,43330165.0,43658364.0,41005519.0,31678831.0,31687572.0,23085919.0
2016-01,64685792.0,66703211.0,60504787.0,59406674.0,56693762.0,50081929.0,47460957.0,43992952.0,42664156.0,38392294.0,31286615.0,33297592.0,22915238.0
2016-02,58647823.0,62473346.0,57982880.0,56992323.0,52098288.0,47261427.0,44400598.0,41697432.0,39768172.0,35878017.0,28658478.0,30396242.0,22267745.0
2016-03,66374350.0,67670997.0,61877494.0,59212162.0,56353219.0,50548781.0,49383866.0,43319898.0,41949531.0,38477656.0,31520905.0,32087452.0,23200430.0
2016-04,55266149.0,58609194.0,55026341.0,50370301.0,49106769.0,43751270.0,43755933.0,40386934.0,36750431.0,34883793.0,27023091.0,27909504.0,20206194.0

In [54]:
cohort_pivot1.to_csv('Revenue_Cohorts.csv')